<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{../../css/style.css}" />
    <link rel="stylesheet" th:href="@{../../css/settings.css}" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title th:title="${title}"></title>
  </head>
  <body>
    <nav style="background-color: #252525ed; position: fixed; top: 0; width: 100%; z-index: 1;" class="navbar navbar-expand-lg navbar-dark bg-bg-primary">
      <!-- sidebar -->
      <div class="user-toggle">
        <div class="user-toggle-icon">
          <img style="width: 40px;
            margin-right: 15px;
            height: 40px;
            border-radius: 25px;
            background-color: orange;" 
            th:src="${user.imageUrl}"/>
        </div>
        <div class="user-toggle-menu">
          <a href="#" th:href="@{/user/index/0}" class="item"><i style="margin-right: 7px;margin-left: 5px;" class="fa-solid fa-house"></i>Home</a>
          <a href="#" th:href="@{/user/show-reviews/0}" class="item"><i style="margin-right: 7px;margin-left: 5px;" class="fa-regular fa-address-book"></i>View Reviews</a>
          <a href="#" th:href="@{/user/your-profile}" class="item"><i style="margin-right: 7px;margin-left: 5px;" class="fa-regular fa-user"></i>Your Profile</a>
          <a href="#" th:href="@{/user/settings}" class="item"><i style="margin-right: 7px;margin-left: 5px;" class="fa-solid fa-gear"></i>Settings</a>
          <a href="#" th:href="@{/logout}" class="item"><i style="margin-right: 7px;margin-left: 5px;" class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
        </div>
      </div> 
      <!-- sidebar -->
      
      <a class="navbar-brand" href="#">Reviews</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto text-uppercase">
          <li class="nav-item active2">
            <a class="nav-link2" th:href="@{/0}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link2 active-user" href="" th:text="${user.name}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link2" th:href="@{/user/settings}">Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link2" th:href="@{/logout}">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- background image -->
    <div class="body1">
      <img class="background-anime" src="https://1.bp.blogspot.com/-_ADDXzCuiOI/YTrOAGudu5I/AAAAAAAAsXQ/hIifrlG6SBE276owhfUxPrg8cstDQf76gCLcBGAsYHQ/s0/Episodes-Made-in-Abyss-Filler-List-Chronological-Order.jpg" />
    </div>

    <!-- sidebar -->
    <!-- https://dragonball.guru/wp-content/uploads/2021/03/krillin-profile-1-400x400.png -->
    <div class="">  
    <div th:replace="${content}"></div></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{../../js/script.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      function deleteReview(rId){
        Swal.fire({
        title: 'Are you sure?',
        text: "You want to delete review...",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location="/user/delete/" + rId;
          // Swal.fire(
          //   'Deleted!',
          //   'Your file has been deleted.',
          //   'success'
          // )
        }
      })
      }
    </script>
  </body>
</html>