<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
      <div class="card card1 my-5">
          <div th:classappend="${session.message.type}" th:if="${session.message}" class="alert" role="alert">
            <p th:text="${session.message.content}"></p>
            
            <th:block th:text="${@sessionHelper.removeMessageFromSession()}" class="text-center"></th:block>
          </div>
        <form class="card-body cardbody-color p-lg-5" novalidate th:action="@{/user/update-profile}" method="post" th:object="${user}">
          <div style="text-align: center;">
            <img style="margin-top: 20px;
            width: 100px;
            margin-bottom: 7px;
            height: 100px;
            border-radius: 25px;
            background-color: orange;" 
            th:src="${user.imageUrl}"/>
            <div style="font-size: 15px;color: white;margin-bottom: 10px;" th:text="${user.email}"></div>
          </div>
          <input style="display: none;" name="id" th:value="${user.id}"/>
          <div class="form-group">
            <label class="signup-label" for="user_name">User Name</label>
            <input
              name="name"
              th:value="${user.name}"
              type="text"
              autocomplete="off"
              class="form-control input-mail"
              th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" 
              id="user_name" 
              aria-describedby="emailHelp" 
              placeholder="Enter Name">

              <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
              </div>
          </div>

          <div class="form-group">
            <label class="signup-label" for="email">Email</label>
            <input 
              name="email"
              th:value="${user.email}"
              type="email" 
              th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" 
              autocomplete="off"
              class="form-control input-mail" 
              id="email" 
              placeholder="Email">
            <small id="emailHelp" class="form-text signup-label">We'll never share your email with anyone else.</small>
            <div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}">
            </div>
          </div>

          <div class="form-group">
            <label class="signup-label" for="imageUrl">Profile Image</label>
            <input 
              name="imageUrl"
              th:value="${user.imageUrl}"
              autocomplete="off"
              class="form-control input-mail" 
              id="imageUrl" 
              placeholder="imageUrl">
            <small id="emailHelp" class="form-text signup-label">please paste image url for your profile picture</small>
          </div>

          <div>
            <button type="submit" class="btn btn-color px-5 mb-5 w-40 mr-3">Submit</button>
          </div>
        </form>  
      </div>
      </div>
    </div>
    </div>
    </section>
</body>
</html>