<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::Layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${user.name}"></title>
</head>
<body>
    <section>
      <div class="container-box">
        <div style="text-align: center;color: white;" th:each="ani : ${anime}" class="rating-box">
          <div th:text="${ani.anime_name}"></div>
          <div><img class="box-image" th:src="${ani.imageUrl}"/></div>
          <div>
            <div>status:<span th:text="${ani.status}"></span></div>
            <div th:text="${ani.anime_rating}"></div>
          </div>
        </div>
      </div>
        <!-- pagination -->
        <div class="pagination-box">
            <nav aria-label="...">
              <ul th:if="${anime.isEmpty() != true}" class="pagination1">
                <li th:if="${currentPage != 0}" class="page-item1">
                  <a th:href="@{'/user/index/'+${currentPage - 1}}" class="page-link1" tabindex="-1">Previous</a>
                </li>
                <li th:classappend="${currentPage== i-1? 'active1': ''}" th:each="i : ${#numbers.sequence(1, totalPage)}" class="page-item1">
                  <a th:text="${i}" th:href="@{'/user/index/' + ${i-1}}" class="page-link1"></a></li>
                
                <li th:if="${currentPage + 1 != totalPage}" class="page-item1">
                  <a th:href="@{'/user/index/'+${currentPage + 1}}" class="page-link1" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
    </section>
</body>
</html>