/* rating-star-div */

.anime-main {
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

.anime-details {
    background-color: #000000bd;
    display: flex;
    border-radius: 5px;
}

.anime-image {
    padding: 48px;
    height: 450px;
}

.anime-save-button {
  width: 100%;
  margin-top: 10px;
  border: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.anime-save1 {
  background-color: #176e2b;
}

.anime-save-button:focus {
  outline: none;
}

.anime-save1:hover {
  cursor: pointer;
  background-color: #28a745;
  transition: all 0.5s ease;
}

.anime-remove1 {
  background-color: #ac0000;
}

.anime-remove1:hover {
  cursor: pointer;
  background-color: #c40000;
  transition: all 0.5s ease;
}

.anime-details-box {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 50px;
    color: white;
    font-family: fangsong;
}

.anime-rating {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 20px;
    background-color: #000000bd;
    padding-bottom: 50px;
}

.user-rating {
    border-top: solid;
    border-width: 2px;
    border-color: #212529a6;
    padding-left: 40px;
    padding-bottom: 30px;
}

.form-comment {
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 40px;
}

.user-profile {
    margin-top: 35px;
    color: white;
}

.user-profile-span {
    margin-left: 10px;
    font-size: 20px;
    font-family: monospace;
}

.user-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.rating {
    margin-top: 5px;
    padding-left: 55px;
    padding-right: 55px;
    color: #b9b9b9;
    font-family: monospace;
}

.text-comment {
    border: none;
    border-radius: 4px;
    box-shadow: 6px;
    box-shadow: none;
    padding-left: 8px;
    padding-right: 8px;
    transition-duration: .3s;
    height: 75px;
}

.anime-label {
    color: white;
    font-family: fangsong;
    transition-duration: .3s;
    letter-spacing: 0px;
}

.text-comment:focus {
    box-shadow: 5px 20px 40px -20px #28a745;
    outline: none;
}

.field3 {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.anime-message-button {
    border: none;
    margin-top: 20px;
    color: white;
    background-color: #28a745;
    font-family: fangsong;
    transition-duration: .3s;
    letter-spacing: 0px;
}

.anime-message-button:hover {
    letter-spacing: 2px;
    cursor: pointer;
}

/* rating star */
  .rating-star-div {
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 8px 10px 7px 6px;
    font-family: fangsong;
    background-color: #ffffff52;
}

.rating-star {
    display: inline-block;
    position: relative;
    line-height: 0px;
    font-size: 20px;
  }
  
  .rating-star label {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    /* height: 100%; */
    cursor: pointer;
  }
  
  .rating-star label:last-child {
    position: static;
  }
  
  .rating-star label:nth-child(1) {
    z-index: 5;
  }
  
  .rating-star label:nth-child(2) {
    z-index: 4;
  }
  
  .rating-star label:nth-child(3) {
    z-index: 3;
  }
  
  .rating-star label:nth-child(4) {
    z-index: 2;
  }
  
  .rating-star label:nth-child(5) {
    z-index: 1;
  }
  
  .rating-star label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating-star label .icon {
    float: left;
    margin-left: 4px;
    color: transparent;
    transition: color 0.5s ease;
  }
  
  .rating-star label:last-child .icon {
    color: #000;
  }
  
  .rating-star:not(:hover) label input:checked ~ .icon,
  .rating-star:hover label:hover input ~ .icon {
    color: green;
  }
  
  .rating-star label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px green;
  }
  /* rating star */

  /* admin */
  .container-box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .container-image1 {
    display: flex;
    color: white;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: color 0.5s ease;
  }

  .image-box1 {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }

  .container-image1:hover {
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
  }

  .container-image1:hover .image-box1 {
    text-decoration: none;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .button-delete {
    transform: translateY(0%);
    border: none;
    color: transparent;
    background-color: transparent;
    border: 2px solid transparent;
    transition: all .3s ease;
  }
  
  .container-image1:hover .button-delete {
    transition: all .3s ease;
    border: 2px solid white;
    border-radius: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: transparent;
    transform: translateY(-100%);
  }

  /* .image-box1:hover .button-delete {
    border: 2px solid red;
    border-radius: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    background-color: transparent; 
  } */

  .container-image1:hover .button-delete:hover {
    color: red;
    letter-spacing: 2px;
    background-color: #ffffffa8;
    cursor: pointer;
    border: 2px solid red;
  }

  /* Update button */
  .button-update {
    transform: translateY(0%);
    border: none;
    color: transparent;
    background-color: transparent;
    border: 2px solid transparent;
    transition: all .3s ease;
  }

  .container-image1:hover .button-update {
    transition: all .3s ease;
    border: 2px solid white;
    border-radius: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: transparent;
    transform: translateY(-100%);
  }

  .container-image1:hover .button-update:hover {
    color: green;
    letter-spacing: 2px;
    background-color: #ffffffa8;
    cursor: pointer;
    border: 2px solid green;
  }
  

  /* Admin */
 .save-anime {
    border: 2px solid #007bff;
    margin-top: 10px;
    background-color: transparent;
    margin-bottom: 15px;
    color: #007bff;
    font-weight: 500;
    transition: all .3s;
 }

 .save-anime:hover {
    letter-spacing: 2px;
    color: transparent;
    transition: all .3s;
    scale: 1.03;
    -webkit-text-stroke: 0.9px #007bff;
  }

  .close-anime {
    background-color: transparent;
    border: 2px solid red;
    margin-top: 10px;
    margin-bottom: 15px;
    color: red;
    font-weight: 500;
    transition: all .3s;
  }

  .close-anime:hover {
    letter-spacing: 2px;
    color: transparent;
    transition: all .3s;
    scale: 1.03;
    -webkit-text-stroke: 0.9px red;
  }

  /* home search button */
  
  /* 
  ========================
        BUTTON ONE
  ========================
  */

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* glowing button */

/* new button animation */
.new-button {
  --c:  red; /* the color*/
  
  box-shadow: 0 0 0 1.6px inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.new-button:hover {
  color: white;
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}
.new-button:active {
  box-shadow: 0 0 9e9q inset #0009; 
  background-color: var(--c);
  color: #fff;
}

.new-button {
  font-family: system-ui, sans-serif;
  /* font-size: 3.5rem; */
  color: red;
  cursor: pointer;
  padding: .1em .6em;
  /* font-weight: bold; */
  border: none;
}